In [1]:
import numpy as np

In [2]:
#creacvion de listas
velocidad=[2,15,6,7,17,7]
distancia=[3,20,6,10,11,2]
zipeado=list(zip(velocidad,distancia))
npVelocidad=np.array(velocidad)
npDistancia=np.array(distancia)
print(zipeado[0][0])

2

In [3]:
npVelocidad.shape
print(npVelocidad.sum())
def promedio(npArray):#para una dimension
    return npArray.mean()#obtiene promedio
print(promedio(npVelocidad))
print("velocidad bajo promedio ",list(filter(lambda x:x<promedio(npVelocidad),velocidad)))
#x=zipeado[0]
#print(x[0])
print("velocidad bajo promedio y distancia bajo promedio",list(filter(lambda x: x[0]<promedio(npVelocidad) and x[1]<promedio(npDistancia),zipeado)))

54
9.0
velocidad bajo promedio  [2, 6, 7, 7]
velocidad bajo promedio y distancia bajo promedio [(2, 3), (6, 6), (7, 2)]

In [4]:
auto1 = ['Mazda RX4', 21.0, 6, False, 4]
auto2 = ['Merc 240D', 24.4, 4, True, 2]
auto3 = ['Merc 280', 9.2, 6, True, 4]
auto4= ['Valiant', 18.1, 6, True, 1]
auto5 = ['Merc 450SL', 17.3, 8, False, 3]
auto6 = ['Toyota Corolla', 33.9, 4, True, 1]

In [5]:
autos=[auto1,auto2,auto3,auto4,auto5,auto6]
def isNumero(x):
    if isinstance(x,int) or isinstance(x,float) or isinstance(x,complex):
        if(x==True or x==False):
            return False
        else:
            return True
    else:
        return False

In [6]:
def soloNumeros(lista):
    result=[]
    for i in range(len(lista)):
        result+=list(filter(isNumero,lista[i]))
    return result
        #print(list(map(isNumero,autos[:])))

In [7]:
npArray=np.array(soloNumeros(autos))
print(npArray)
print(promedio(npArray))

[21.   6.   4.  24.4  4.   2.   9.2  6.   4.  18.1  6.  17.3  8.   3.
 33.9  4. ]
10.68125

In [8]:
average=promedio(npArray)
#float mayores que la media
flotantes=list(filter(lambda x:isinstance(x,float),soloNumeros(autos)))
print(list(filter(lambda x:x>average,flotantes)))

[21.0, 24.4, 18.1, 17.3, 33.9]

In [9]:
npArray=np.array(autos)
print(npArray)
trues=(npArray[:,3])
#print(autos)
print(trues)
for i in range(len(trues)):
    if(trues[i]=='True'):
        print(npArray[i,0])

[['Mazda RX4' '21.0' '6' 'False' '4']
 ['Merc 240D' '24.4' '4' 'True' '2']
 ['Merc 280' '9.2' '6' 'True' '4']
 ['Valiant' '18.1' '6' 'True' '1']
 ['Merc 450SL' '17.3' '8' 'False' '3']
 ['Toyota Corolla' '33.9' '4' 'True' '1']]
['False' 'True' 'True' 'True' 'False' 'True']
Merc 240D
Merc 280
Valiant
Toyota Corolla

In [11]:
#CSV
import pandas as pd

In [17]:
#series->listas
lista=pd.Series(velocidad)
print(lista)
print("una posicion",lista[1])
print("solo valores\n",lista.values)
print("solo indices",lista.index)

0     2
1    15
2     6
3     7
4    17
5     7
dtype: int64
una posicion 15
solo valores
 [ 2 15  6  7 17  7]
solo indices RangeIndex(start=0, stop=6, step=1)

In [20]:
#poner nombres a columnas o acceso
lista=pd.Series(velocidad,index=['v1','v2','v3','v4','v5','v6'])
print(lista.index)
print(lista['v3'])

Index(['v1', 'v2', 'v3', 'v4', 'v5', 'v6'], dtype='object')
6

In [24]:
#si tengo un diccionario
dic={'nombre':'carlos','edad':35}
lista=pd.Series(dic)
print(lista)
print(lista['nombre':'edad'])

nombre    carlos
edad          35
dtype: object
nombre    carlos
edad          35
dtype: object

In [42]:
#dataframe son dos dimensiones
poblacion_dic = {'Arica y Parinacota': 243149,
                   'Antofagasta': 631875,
                   'Metropolitana de Santiago': 7399042,
                   'Valparaiso': 1842880,
                   'Bíobío': 2127902,
                   'Magallanes y Antártica Chilena': 165547}
area_dic = {'Arica y Parinacota': 16873.3,
             'Antofagasta': 126049.1,
             'Metropolitana de Santiago': 15403.2,
             'Valparaiso': 16396.1,
             'Bíobío': 37068.7,
             'Magallanes y Antártica Chilena': 1382291.1}
poblacion=pd.Series(poblacion_dic)
area=pd.Series(area_dic)
regiones=pd.DataFrame({'Poblacion':poblacion,'Area':area})
print(regiones)
print("filas",regiones.index)
print("columnas",regiones.columns)

                                Poblacion       Area
Arica y Parinacota                 243149    16873.3
Antofagasta                        631875   126049.1
Metropolitana de Santiago         7399042    15403.2
Valparaiso                        1842880    16396.1
Bíobío                            2127902    37068.7
Magallanes y Antártica Chilena     165547  1382291.1
filas Index(['Arica y Parinacota', 'Antofagasta', 'Metropolitana de Santiago',
       'Valparaiso', 'Bíobío', 'Magallanes y Antártica Chilena'],
      dtype='object')
columnas Index(['Poblacion', 'Area'], dtype='object')

In [45]:
print(regiones['Area'])
print(regiones['Poblacion'])

Arica y Parinacota                  16873.3
Antofagasta                        126049.1
Metropolitana de Santiago           15403.2
Valparaiso                          16396.1
Bíobío                              37068.7
Magallanes y Antártica Chilena    1382291.1
Name: Area, dtype: float64
Arica y Parinacota                 243149
Antofagasta                        631875
Metropolitana de Santiago         7399042
Valparaiso                        1842880
Bíobío                            2127902
Magallanes y Antártica Chilena     165547
Name: Poblacion, dtype: int64

In [47]:
regiones_file='data/chile_regiones.csv'
provincias_file='data/chile_provincias.csv'
comunas_file='data/chile_comunas.csv'
#leer cada uno de los archivos 
regiones=pd.read_csv(regiones_file, header=0, sep=',')#header sera la primera fila y el separador es la ,
provincias=pd.read_csv(provincias_file, header=0, sep=',')
comunas=pd.read_csv(comunas_file, header=0, sep=',')

In [53]:
#viendo los valores
print('regiones: ', regiones.columns.values.tolist())
print('provincias: ', provincias.columns.values.tolist())
print('comunas: ', comunas.columns.values.tolist())
print("##################")
print(regiones.head())
print(provincias.describe())#muestra estadisticas
print(comunas.describe())

regiones:  ['RegionID', 'RegionNombre', 'RegionOrdinal']
provincias:  ['ProvinciaID', 'ProvinciaNombre', 'RegionID']
comunas:  ['ComunaID', 'ComunaNombre', 'ProvinciaID']
##################
   RegionID          RegionNombre RegionOrdinal
0         1  'Arica y Parinacota'          'XV'
1         2            'Tarapacá'           'I'
2         3         'Antofagasta'          'II'
3         4             'Atacama'         'III'
4         5            'Coquimbo'          'IV'
       ProvinciaID   RegionID
count    53.000000  53.000000
mean     27.000000   8.301887
std      15.443445   4.064787
min       1.000000   1.000000
25%      14.000000   6.000000
50%      27.000000   8.000000
75%      40.000000  12.000000
max      53.000000  15.000000
         ComunaID  ProvinciaID
count  345.000000   345.000000
mean   173.000000    29.368116
std     99.737155    11.853791
min      1.000000     1.000000
25%     87.000000    22.000000
50%    173.000000    31.000000
75%    259.000000    38.000000
max    345.000000    53.000000

In [54]:
#armando la bd
regiones_provincias=pd.merge(regiones, provincias, how='outer')
regiones_provincias.head()
provincias_comunas=pd.merge(provincias, comunas, how='outer')
provincias_comunas.head()
regiones_provincias_comunas=pd.merge(regiones_provincias, comunas, how='outer')
regiones_provincias_comunas.index.name='ID'
regiones_provincias_comunas.head()

,RegionID,RegionNombre,RegionOrdinal,ProvinciaID,ProvinciaNombre,ComunaID,ComunaNombre
ID,,,,,,,
0,1,'Arica y Parinacota','XV',1,'Arica',1,'Arica'
1,1,'Arica y Parinacota','XV',1,'Arica',2,'Camarones'
2,1,'Arica y Parinacota','XV',2,'Parinacota',3,'General Lagos'
3,1,'Arica y Parinacota','XV',2,'Parinacota',4,'Putre'
4,2,'Tarapacá','I',3,'Iquique',5,'Alto Hospicio'

In [55]:
regiones_provincias_comunas.to_csv('data/Xchile_demographic_merge.csv', index=False)

In [59]:
regiones_provincias_comunas.loc[4]['ProvinciaNombre']#mostrar un registro especifico

"'Iquique'"

In [60]:
data_file='data/chile_demographic.csv'
data=pd.read_csv(data_file, header=0, sep=',')
data.head()

,RegionID,Region,Provincia,Comuna,Superficie,Poblacion,Densidad,IDH_2005
0,1,Arica y Parinacota,Arica,Arica,4799.4,210936,38.4,0.736
1,1,Arica y Parinacota,Arica,Camarones,3927.0,679,0.3,0.751
2,1,Arica y Parinacota,Parinacota,General Lagos,2244.4,739,0.5,0.670
3,1,Arica y Parinacota,Parinacota,Putre,5902.5,1462,0.2,0.707
4,1,Arica y Parinacota,Iquique,Alto Hospicio,572.9,94455,87.6,NaN

In [61]:
data_sort=data.sort_values('Poblacion')
data_sort.head()

,RegionID,Region,Provincia,Comuna,Superficie,Poblacion,Densidad,IDH_2005
335,15,Magallanes y de la Antártica Chilena,Antártica Chilena,Antártica,1250257.6,127,0.0,NaN
15,3,Antofagasta,El Loa,Ollagüe,2964.0,332,0.1,0.679
342,15,Magallanes y de la Antártica Chilena,Magallanes,Río Verde,17248.0,363,0.0,0.784
334,14,Aisén del General Carlos Ibáñez del Campo,Capitán Prat,Tortel,19710.6,531,0.0,0.655
337,15,Magallanes y de la Antártica Chilena,Magallanes,Laguna Blanca,3695.6,631,0.0,0.785

In [63]:
data_sort=data.sort_values('Poblacion', ascending=False)#descendiente
data_sort.head()

,RegionID,Region,Provincia,Comuna,Superficie,Poblacion,Densidad,IDH_2005
107,7,Metropolitana de Santiago,Santiago,Maipú,135.5,805000,3876.2,0.902
119,7,Metropolitana de Santiago,Cordillera,Puente Alto,88.0,757721,6664.8,0.773
97,7,Metropolitana de Santiago,Santiago,La Florida,70.2,397497,5209.0,0.804
11,3,Antofagasta,Antofagasta,Antofagasta,30718.1,348669,9.7,0.734
80,6,Valparaíso,Valparaíso,Viña del Mar,121.6,311399,2560.8,0.766

In [64]:
(data.groupby(data['Region'])['Poblacion','Superficie'].sum())

                                           Poblacion  Superficie
Region
Aisén del General Carlos Ibáñez del Campo     106893   107449.40
Antofagasta                                   551627   126048.80
Arica y Parinacota                            308271    17446.20
Atacama                                       292054    74806.30
Biobío                                       2025995    37068.70
Coquimbo                                      714856    40967.80
La Araucanía                                  933537    31842.30
Libertador General Bernardo O'Higgins         903248    16583.30
Los Lagos                                     835829    48583.30
Los Ríos                                      380618    18577.60
Magallanes y de la Antártica Chilena          158828  1392783.70
Maule                                        1073635    30340.30
Metropolitana de Santiago                    7150480    15547.00
Tarapacá                                      205566    41632.60
Valparaíso                                   1859312    12646.28

In [65]:
x=data.groupby(data['Region'])
x['Poblacion','Superficie'].sum()

                                           Poblacion  Superficie
Region
Aisén del General Carlos Ibáñez del Campo     106893   107449.40
Antofagasta                                   551627   126048.80
Arica y Parinacota                            308271    17446.20
Atacama                                       292054    74806.30
Biobío                                       2025995    37068.70
Coquimbo                                      714856    40967.80
La Araucanía                                  933537    31842.30
Libertador General Bernardo O'Higgins         903248    16583.30
Los Lagos                                     835829    48583.30
Los Ríos                                      380618    18577.60
Magallanes y de la Antártica Chilena          158828  1392783.70
Maule                                        1073635    30340.30
Metropolitana de Santiago                    7150480    15547.00
Tarapacá                                      205566    41632.60
Valparaíso                                   1859312    12646.28

In [66]:
(data.groupby(data['Region'])['Poblacion','Superficie'].sum()) \
    .sort_values(['Poblacion'])

                                           Poblacion  Superficie
Region
Aisén del General Carlos Ibáñez del Campo     106893   107449.40
Magallanes y de la Antártica Chilena          158828  1392783.70
Tarapacá                                      205566    41632.60
Atacama                                       292054    74806.30
Arica y Parinacota                            308271    17446.20
Los Ríos                                      380618    18577.60
Antofagasta                                   551627   126048.80
Coquimbo                                      714856    40967.80
Los Lagos                                     835829    48583.30
Libertador General Bernardo O'Higgins         903248    16583.30
La Araucanía                                  933537    31842.30
Maule                                        1073635    30340.30
Valparaíso                                   1859312    12646.28
Biobío                                       2025995    37068.70
Metropolitana de Santiago                    7150480    15547.00

In [67]:
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
aeropuertos=pd.read_csv('data/aeropuertos.csv',header=0,sep=',')
aeropuertos.head()
#aeropuertos.shape[0]#cantidad de filas

,Id,Nombre,Ciudad,Pais,IATA,OACI,Latitud,Longitud,Altitud,Zona_horaria,Horario_verano,Zona_horaria_lugar,Tipo,Fuente
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,1610.0,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,6.1,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,1642.3,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,72.8,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,44.5,10.0,U,Pacific/Port_Moresby,airport,OurAirports

In [81]:
aeropuertos.columns

Index(['Id', 'Nombre', 'Ciudad', 'Pais', 'IATA', 'OACI', 'Latitud', 'Longitud',
       'Altitud', 'Zona_horaria', 'Horario_verano', 'Zona_horaria_lugar',
       'Tipo', 'Fuente'],
      dtype='object')

In [96]:
#print(aeropuertos['Longitud'])
resultado=list(filter(lambda x:x>175,aeropuertos['Longitud']))
print(resultado)
print("la cantidad es",len(resultado))

[177.4429931640625, 178.5590057373047, 176.08399963378906, 177.97799682617188, 175.332000732, 176.766998, 175.63400268554688, 175.38800048828125, 175.61700439453125, 176.31700134277344, 175.6580047607422, 176.1959991455078, 176.91400146484375, 177.40699768066406, 175.02499389648438, 179.195999, 176.869995, 178.75900268599997, 177.19700622599998, 178.15699768099998, 177.09800720200005, 179.951004028, 179.339996338, 179.33999633789062, 179.42199707, 177.0709991455078, 179.34100341799999, 177.74099731445312, 175.4720001220703, 176.80299377441406, 175.97000122070312, 176.0070037841797, 176.410003662, 175.06399536132812, 175.6790008544922, 177.368]
la cantidad es 36

In [124]:
#nombre del aeropuerto mayor altitud
aeropuertos.head(1)
aeroOrden=aeropuertos.sort_values('Pais',ascending=False)
aeroOrden.head()
print(aeroOrden.head(1)['Nombre'],"\n",aeroOrden.head(1)['Ciudad'])

982    Harare International Airport
Name: Nombre, dtype: object
 982    Harare
Name: Ciudad, dtype: object

In [127]:
print(aeropuertos.columns)
groupby(aeropuertos)

Index(['Id', 'Nombre', 'Ciudad', 'Pais', 'IATA', 'OACI', 'Latitud', 'Longitud',
       'Altitud', 'Zona_horaria', 'Horario_verano', 'Zona_horaria_lugar',
       'Tipo', 'Fuente'],
      dtype='object')
         Id                        Nombre                Ciudad      Pais  \
982    1005  Harare International Airport                Harare  Zimbabwe
6660  10151            Mana Pools Airport            Mana Pools  Zimbabwe
989    1012  Hwange National Park Airport  Hwange National Park  Zimbabwe
988    1011            Thornhill Air Base                 Gwert  Zimbabwe
987    1010            Zvishavane Airport            Zvishavane  Zimbabwe

     IATA  OACI    Latitud   Longitud  Altitud  Zona_horaria Horario_verano  \
982   HRE  FVHA -17.931801  31.092800   1489.6           2.0              U
6660  NaN  FVMN -15.767000  29.382999    396.2           2.0              N
989   WKM  FVWN -18.629900  27.021000   1079.9           2.0              U
988   GWE  FVTL -19.436399  29.861900   1426.5           2.0              U
987   NaN  FVSH -20.289499  30.088200    918.1           2.0              U

     Zona_horaria_lugar     Tipo       Fuente
982       Africa/Harare  airport  OurAirports
6660                NaN  airport  OurAirports
989       Africa/Harare  airport  OurAirports
988       Africa/Harare  airport  OurAirports
987       Africa/Harare  airport  OurAirports

In [144]:
x=aeropuertos.groupby(aeropuertos['Pais'])['Ciudad','Pais','Altitud','Longitud'].sum()
print(x.head())

                Altitud     Longitud
Pais
Afghanistan     22752.7  1327.004448
Albania           428.8    99.111298
Algeria         18999.2   133.386321
American Samoa     43.3  -340.135010
Angola          17616.9   376.743486

In [145]:
print(aeropuertos.columns)

Index(['Id', 'Nombre', 'Ciudad', 'Pais', 'IATA', 'OACI', 'Latitud', 'Longitud',
       'Altitud', 'Zona_horaria', 'Horario_verano', 'Zona_horaria_lugar',
       'Tipo', 'Fuente'],
      dtype='object')