In [1]:
import numpy as np
import pandas as pd
import pylab
import matplotlib.pyplot as plt

%matplotlib inline

params = {'backend': 'agg',
'axes.labelsize': 16,
'font.size': 16,
'legend.fontsize': 14,
'xtick.labelsize': 14,
'ytick.labelsize': 14,
'text.usetex': False,
'figure.figsize': [10,6]}

In [48]:
data_file='data/Temperatura.csv'#la fuente de la información es https://figshare.com/articles/temperature_csv/3171766
temps=pd.read_csv(data_file,header=0,sep=',')#leer archivo csv
#terremotos['time']=pd.to_datetime(terremotos['time'], errors='coerce')

In [49]:
print(temps.shape)
print(temps.index)
print(temps.columns.values)

(5957, 2)
RangeIndex(start=0, stop=5957, step=1)
['180005;"Chacalluta'
 ' Arica Ap.";"18&deg 21\' 5\'\' S";63;2015;1;1;"18.7";"23.4"']

In [51]:
temps.head()

   180005;"Chacalluta  Arica Ap.";"18&deg 21' 5'' S";63;2015;1;1;"18.7";"23.4"
0  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;2;"20...
1  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;3;"20...
2  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;4;"19...
3  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;5;"19...
4  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;6;"19...

City
Auckland        1906
Brasília        2073
Canoas          2072
Cape Town       1858
Hamilton        1913
Johannesburg    1847
Kherson         3139
Kiev            3136
Lvov            3134
Marseille       3129
Odesa           3143
Paris           3137
Stockholm       3136
Tokyo           1996
Tottori         2055
Uppsala         3129
Warsaw          3130
Wroclaw         3135
Name: celcius, dtype: int64

country_id
BRA    4145
FRA    4293
JAP    2501
NEW    3474
POL    2639
SOU    3386
SWE    1997
UKR    5711
Name: celcius, dtype: int64